<html>
<head>
<title></title>
</head>
<body>
<div>
<p>these are the predicted passwords</p>
{%for i in items %}
<li>{{i}}</li>
names
date of birth/date of anniversary
dome sentence / quotes
children names
pet names/animal names
food name
favorite sports/games
sport person name/actor name/special person
vehical model or reg number
name with some integers
mobile number
parents name of family members name
favorite places / home town
company / organization name with year(established)
house / building name
favorite books or title name
special chararcters
random alphabets
random intergers
hobbies and interest
successful projects or products name
  {% endfor %}
</div>
</body>
</html>